<launch>
  <!-- Raw stereo only: color and RealSense depth generation are not required. -->
  <arg name="execution_enabled" default="false"/>
  <arg name="publish_planner_goal" default="false"/>
  <arg name="auto_publish_stable_goal" default="false"/>
  <arg name="planner_goal_topic" default="/goal"/>
  <arg name="odom_topic" default="/ekf/ekf_odom"/>
  <arg name="world_frame" default="world"/>
  <arg name="target_class" default="person"/>
  <arg name="confidence" default="0.20"/>
  <arg name="depth_backend" default="sgbm"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_color" value="false"/>
    <arg name="enable_depth" value="false"/>
    <arg name="enable_infra" value="true"/>
    <arg name="enable_infra1" value="true"/>
    <arg name="enable_infra2" value="true"/>
    <arg name="infra_width" value="640"/>
    <arg name="infra_height" value="480"/>
    <arg name="infra_fps" value="15"/>
    <arg name="enable_sync" value="true"/>
    <arg name="align_depth" value="false"/>
  </include>

  <include file="$(find semantic_raw_stereo_localizer)/launch/semantic_raw_stereo_real.launch">
    <arg name="execution_enabled" value="$(arg execution_enabled)"/>
    <arg name="publish_planner_goal" value="$(arg publish_planner_goal)"/>
    <arg name="auto_publish_stable_goal" value="$(arg auto_publish_stable_goal)"/>
    <arg name="planner_goal_topic" value="$(arg planner_goal_topic)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="world_frame" value="$(arg world_frame)"/>
    <arg name="target_class" value="$(arg target_class)"/>
    <arg name="confidence" value="$(arg confidence)"/>
    <arg name="depth_backend" value="$(arg depth_backend)"/>
  </include>
</launch>
